@charset "utf-8";





body {
	background-color:whitesmoke;
	margin:0;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}


#curs {
	text-align:center;
	font-size: 24px;
	text-shadow:0.5px 0.8px;
}




h2 {
	
}

#first {
	margin-left:30%;
}

#second {
	margin-left:20%;
}

#third {
	margin-left:10%;
}

.imgeu {
	margin-left:7%;
}

#imgeu {
	margin-left:10%;
}

#poveste {
margin-left:25%;
font-size: 30px;
height:auto;
	
}
